<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SMOKE</td><td>scenarios.suite1.bdd.QEO-1143()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/>scenarios.suite1.bdd.QEO-1144()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]<br/>scenarios.suite1.bdd.QEO-1145()[pri:1002, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]<br/></td></tr>
</table>
