<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoginPageActivity.scenarios.suite1.bdd</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:50:12</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:50:12</td>   <td>37</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:50:12</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:50:12</td>   <td>111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="b485ba">  <td>18/06/28 17:50:12</td>   <td>113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1143()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">QEO-1143</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:06</td>   <td>54804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:07</td>   <td>54932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:07</td>   <td>54934</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:07</td>   <td>54936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="b485ba">  <td>18/06/28 17:51:07</td>   <td>54936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1144()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">QEO-1144</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:39</td>   <td>87805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:39</td>   <td>87888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:39</td>   <td>87890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:51:39</td>   <td>87891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="b485ba">  <td>18/06/28 17:51:39</td>   <td>87895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1145()[pri:1002, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">QEO-1145</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:52:50</td>   <td>158321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:52:50</td>   <td>158462</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:52:50</td>   <td>158463</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/06/28 17:52:50</td>   <td>158517</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 </td> </tr>
</table>
