<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qmetry.qaf.automation.step.client.Scenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QEO-1143</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QEO-1144</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QEO-1145</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QEO-1146</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>QEO-1147</td>
<td>SMOKE </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
