<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Nest.scenarios.suite1.bdd</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b485ba">  <td>18/07/05 16:59:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1143()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">QEO-1143</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="b485ba">  <td>18/07/05 17:00:20</td>   <td>25924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1144()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">QEO-1144</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="b485ba">  <td>18/07/05 17:00:40</td>   <td>45446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1145()[pri:1002, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">QEO-1145</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="b485ba">  <td>18/07/05 17:01:19</td>   <td>84560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1146()[pri:1003, instance:com.qmetry.qaf.automation.step.client.Scenario@3eb]">QEO-1146</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="b485ba">  <td>18/07/05 17:02:06</td>   <td>132035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.QEO-1147()[pri:1004, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">QEO-1147</td> 
  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:20</td>   <td>25918</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:40</td>   <td>45441</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:01:19</td>   <td>84558</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:06</td>   <td>132033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:37</td>   <td>162866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:20</td>   <td>25831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:40</td>   <td>45359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:01:19</td>   <td>84490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:06</td>   <td>131947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:37</td>   <td>162765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:37</td>   <td>163021</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:37</td>   <td>162867</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 16:59:54</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:20</td>   <td>25921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:40</td>   <td>45442</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:01:19</td>   <td>84559</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:06</td>   <td>132034</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 16:59:54</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:20</td>   <td>25923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:00:40</td>   <td>45445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:01:19</td>   <td>84559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 17:02:06</td>   <td>132034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 16:59:54</td>   <td>-51</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
<tr bgcolor="a6bb77">  <td>18/07/05 16:59:54</td>   <td>-22</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td>1000 1001 1002 1003 1004 </td> </tr>
</table>
